
body {
  background-image: url('./Imagenes/fondo3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.mayorIndex{

  z-index: 1050;
}


.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 0rem !important;
}

.seleccionMuestra:hover {
opacity: 1;
-webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
}

a:link {
  text-decoration: none;
}


.bullsfont{
  font-family: 'NBA Bulls';
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 20px;
}

.temporadaPad{
  padding: 0.6rem;
}

.tituloWeb{
font-family: 'NBA Bulls';
font-size: 29px;
font-weight: bold;
}


.letra-blanca{
  color: #ebebeb;
}

.imagenjugadormini {
 height: 90px;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.fill { 
  min-height: 100%;
  height: 100%;
}